<template>
<div  class="container-fluid">
    <h1 class="display-4">Agenda de Pedidos</h1>
        <div class="row">
          <div class="col-12 col-lg-7">
						<div class="card">
							<h5 class="card-header"><i class="fas fa-list-alt"></i> Pedidos </h5>
							<div class="card-body">
								<table class="table table-bordered" id="app-datatable">
									<thead>
										<tr>
											<th>Descripción</th>
											<th>Tipo de Pedido</th>
											<th>Fecha</th>
											<th></th>
										</tr>
									</thead>
                  <tbody>
                    <tr v-for="link in links">
                      <td>{{link.motivo}}</td>
                      <td>{{link.tipo_pedido}}</td>
                      <td>{{ link.fecha }}</td>              
                      <td>
                        <button v-on:click="deleteLink(link)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                        <button  v-on:click="modifyLink(link)" type="button" class="btn btn-info"><i class="fas fa-eye"></i> Ver</button>  
                      </td>
                    </tr>
                  </tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-5">
						<div class="card">
							<h5 class="card-header"><i class="fas fa-list-ul"></i> Nuevo Pedido</h5>
							<div class="card-body">
                  <form v-on:submit.prevent="addLink">
                    <div class="form-group row">
                      <label for="motivo" class="col-12 col-sm-4 col-form-label text-sm-left">Descripción</label>
                      <div class="col-12 col-sm-8 col-lg-6">
                        <input v-model="newLink.motivo" id="motivo" type="text" placeholder="" class="form-control">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="tipoMotivo" class="col-12 col-sm-4 col-form-label text-sm-left">Tipo de Pedido</label>
                      <div class="col-12 col-sm-8 col-lg-6">
                        <input v-model="newLink.tipo_pedido" id="tipoMotivo" type="text" placeholder="" class="form-control">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="fecha" class="col-12 col-sm-4 col-form-label text-sm-left">Fecha</label>
                      <div class="col-12 col-sm-8 col-lg-6">
                        <input v-model="newLink.fecha" id="fecha" type="date" name="bday" max="3000-12-31" min="1000-01-01" placeholder="" class="form-control">
                      </div>
                    </div>
                    <input type="submit" class="btn btn-success" value="Agregar">
                  </form>
							</div>
						</div>
					</div>
        </div>
    </div>
</template>

<script>
import Firebase from 'firebase';

let config = {
    apiKey: "AIzaSyAQ0upP20DCQoLC_qSufyKpm1Wpjhq0oWg",
    authDomain: "bd-sgit.firebaseapp.com",
    databaseURL: "https://bd-sgit.firebaseio.com",
    projectId: "bd-sgit",
    storageBucket: "",
    messagingSenderId: "812991674891"
}

//se conecta
let app = Firebase.initializeApp(config);
//me trae la base de datos
let db = app.database();
//voy a la coleccion
let linksRef = db.ref('links');

export default {
  name: 'App',
  firebase:{
    links: linksRef
  },

  data(){
    return {
      newLink:{
        motivo:'',
        tipo_pedido:'',
        fecha:''
      }
    }
  },

  methods:{
    addLink:function(){
      linksRef.push(this.newLink);
    },
    deleteLink:function(link){
      linksRef.child(link['.key']).remove();
    },
    modifyLink:function(link){
      //linksRef.child(link['.key']).remove();
      console.log(linksRef.child(link['.key']));
    },
  }
}

</script>
