<template>
	<div id="api" class="page-content">
		<div>
			<div class="container-fluid">
				<h5 class="display-4">Administración de Usuarios</h5>
				<div class="row">
					<div class="col-12 col-lg-7">
						<div class="card">
							<h5 class="card-header"><i class="fas fa-users"></i> Usuarios</h5>
							<div class="card-body">
								<input type="search" v-model="search" placeholder="Search for City OR Street" />
  								<input type="checkbox" v-model="reverse"> Descending
								<table class="table table-bordered" id="app-datatable">
									<thead>
										<tr>
											<th>Nombre</th>
											<th>Apellido</th>
											<th>E-Mail</th>
											<th>Teléfonos</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<tr v-for="item in listaUsuarios">
											<td>{{ item.nombre}}</td>
											<td>{{ item.apellido }}</td>
											<td>{{ item.mail }}</td>
											<td>{{ item.telefonos }}</td>
											<td>
												<button v-on:click="getUsuario(item.id)" type="button" class="btn btn-warning"><i class="fas fa-eye"></i> Editar </button>
												<button v-on:click="deleteUsuario(item.id)" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Eliminar</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-5">
						<div class="card">
							<h5 class="card-header"><i class="fas fa-user"></i> Nuevo Usuario</h5>
							<div class="card-body">
								<form v-on:submit.prevent="postOrUpdateUsuario">
									<div class="form-row">
										<div class="col-md-4 mb-3">
											<label for="validationDefault01">Nombre</label>
											<input v-model="usuario.nombre" type="text" class="form-control" id="nombre" placeholder="Nombre" value="" required>
										</div>
										<div class="col-md-4 mb-3">
											<label for="validationDefault02">Apellido</label>
											<input v-model="usuario.apellido" type="text" class="form-control" id="apellido" placeholder="Apellido" value="" required>
										</div>
										<div class="col-md-4 mb-3">
											<label for="fechaNacimiento">Fecha de Nacimiento</label>
											<input v-model="usuario.fechaNacimiento" id="fecha" type="date" name="bday" max="3000-12-31" min="1000-01-01" placeholder="" class="form-control">
										</div>
									</div>
									<div class="form-row">
										<div class="col-md-4 mb-3">
											<label for="validationDefault02">Username</label>
											<input v-model="usuario.username" type="text" class="form-control" id="username" placeholder="Usuario" value="" required>
										</div>
										<div class="col-md-4 mb-3">
											<label for="validationDefaultUsername">Password</label>
											<div class="input-group">
												<input type="password" v-model="usuario.password" class="form-control" id="password" placeholder="Contraseña" aria-describedby="inputGroupPrepend2" required>
											</div>
										</div>
										<div class="col-md-4 mb-3">
											<label for="cmbRol">Rol</label>
											<select v-model="usuario.idRol" class="form-control" id="cmbRol" placeholder="Seleccione Rol">
													<option v-for="rol in roles" :value="rol.id">{{rol.descripcion}}</option>
												</select>
										</div>
									</div>
									<div class="form-row">
										<div class="col-md-4 mb-3">
											<label for="cmbPais">País</label>
											<select v-model="usuario.idPais" placeholder="Seleccione País" class="form-control" id="cmbPais" @change="getProvinciaByIdPais(usuario.idPais)">
													<option v-for="pais in paises" :value="pais.id">{{pais.descripcion}}</option>
												</select>
										</div>
										<div class="col-md-4 mb-3">
											<label for="cmbProvincia">Provincia</label>
											<select v-model="usuario.idProvincia" placeholder="Seleccione Provincia" class="form-control" id="cmbProvincia" @change="getLocalidadByIdProvincia(usuario.idProvincia)">
													<option v-for="provincia in provincias" :value="provincia.id">{{provincia.descripcion}}</option>
												</select>
										</div>
										<div class="col-md-4 mb-3">
											<label for="cmbLocalidad">Localidad</label>
											<select v-model="usuario.idLocalidad" placeholder="Seleccione Localidad" class="form-control" id="cmbLocalidad">
													<option v-for="localidad in localidades" :value="localidad.id">{{localidad.descripcion}}</option>
												</select>
										</div>
									</div>
									<div class="form-row">
										<div class="col-md-6 mb-3">
											<label for="validationDefault03">E-Mail</label>
											<input v-model="usuario.mail" type="text" class="form-control" id="mail" placeholder="Correo Electrónico" required>
										</div>
										<div class="col-md-6 mb-3">
											<label for="validationDefault04">Teléfonos</label>
											<input v-model="usuario.telefonos" type="text" class="form-control" id="telefonos" placeholder="Teléfonos" required>
										</div>
									</div>
									<div>
									</div>
									<button type="submit" class="btn btn-primary" v-on:click.prevent="newAndDeleteUsuario(usuario)">Nuevo Usuario</button>
									<button class="btn btn-second" type="submit">Cancelar</button>
									<button type="submit" class="btn btn-success" v-on:click.prevent="postOrUpdateUsuario(usuario)">Guardar</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	var path = 'http://localhost:3000/api/';
	
	import axios from "axios";
	import moment from "moment"

	export default {
		name: 'usuarios',
		data() {
			return {
				listaUsuarios: [],
				usuario: {
					id: '',
					nombre: '',
					apellido: '',
					username: '',
					password: '',
					idLocalidad: '',
					idPais: '',
					idProvincia: '',
					idRol: '',
					mail: '',
					telefonos: '',
					fechaNacimiento: '',
				},
				roles: [],
				paises: [],
				provincias: [],
				localidades: [],
			}
		},
		mounted() {
			this.getUsuarios();
			this.getRoles();
			this.getPaises();
		},

		methods: {
			blanquearInstancia(usuario) {
					usuario.id = 0,
					usuario.nombre = "",
					usuario.apellido = "",
					usuario.username = "",
					usuario.password = "",
					usuario.idRol = "",
					usuario.mail = "",
					usuario.telefonos = "",
					usuario.fechaNacimiento = "",
					usuario.idPais = "",
					usuario.idProvincia = "",
					usuario.idLocalidad = ""
			},
			getLocalidadByIdProvincia(id) {
				this.localidades = [];
				this.usuario.idLocalidad = "";
				axios.get(path + 'AuxLocalidads?filter[where][idProvincia]=' + id + '/', {
					headers: {
						"Content-Type": "text/plain"
					}
				}).then(result => {
					this.localidades = result.data;
				}, error => {
					toastr.error('Ha ocurrido un error inesperado');
				});
			},
			getProvinciaByIdPais(id) {
				this.localidades = [];
				this.usuario.idProvincia = "";
				this.usuario.idLocalidad = "";
				axios.get(path + 'AuxProvincia?filter[where][idPais]=' + id + '/', {
					headers: {
						"Content-Type": "text/plain"
					}
				}).then(result => {
					this.provincias = result.data;
				}, error => {
					toastr.error('Ha ocurrido un error inesperado');
				});
			},
			getPaises() {
				axios.get(path + 'AuxPais/', {
					headers: {
						"Content-Type": "text/plain"
					}
				}).then(result => {
					this.paises = result.data;
				}, error => {
					toastr.error('Ha ocurrido un error inesperado');
				});
			},
			getRoles() {
				axios.get(path + 'SysRols/', {
					headers: {
						"Content-Type": "text/plain"
					}
				}).then(result => {
					this.roles = result.data;
				}, error => {
					toastr.error('Ha ocurrido un error inesperado');
				});
			},
			getUsuarios() {
				axios.get(path + 'SysUsuarios/', {
					headers: {
						"Content-Type": "text/plain"
					}
				}).then(result => {
					this.listaUsuarios = result.data;
				}, error => {
					toastr.error('Ha ocurrido un error inesperado');
				});
			},
			getProvinciaByLocalidad(id, usuario) {
				axios.get(path + 'AuxLocalidads/' + id, {
						headers: {
							"Content-Type": "text/plain"
						}
					})
					.then((response) => {
						usuario.idProvincia = response.data.idProvincia;
						this.getPaisByProvincia(usuario.idProvincia, usuario);
					}, (error) => {
						toastr.error('Ha ocurrido un error inesperado');
					});
			},
			getPaisByProvincia(id, usuario) {
				this.localidades = [];
				axios.get(path + 'AuxProvincia/' + id, {
						headers: {
							"Content-Type": "text/plain"
						}
					})
					.then((response) => {
						usuario.idPais = response.data.idPais;
					}, (error) => {
						toastr.error('Ha ocurrido un error inesperado');
					})
			},
			getUsuario(id) {
				this.blanquearInstancia(this.usuario);
				axios.get(path + 'SysUsuarios/' + id, {
						headers: {
							"Content-Type": "text/plain"
						}
					})
					.then((response) => {
						this.usuario = response.data;
						this.usuario.fechaNacimiento = moment(response.data.fechaNacimiento).format("YYYY-MM-DD")
						
						//Obtengo el idLocalidad
						this.usuario.idLocalidad = response.data.idLocalidad
						//Obtengo el idProvincia por la localidad
						axios.get(path + 'AuxLocalidads/' + response.data.idLocalidad, {
							headers: {
								"Content-Type": "text/plain"
							}
						})
						.then((response) => {
							this.usuario.idProvincia = response.data.idProvincia;
							axios.get(path + 'AuxProvincia/' + response.data.idProvincia+'/localidades', {
								headers: {
									"Content-Type": "text/plain"
								}
							})
							.then((response) => {
								this.localidades = response.data;
								//Obtengo el idPais 
								axios.get(path + 'AuxProvincia/' + id, {
									headers: {
										"Content-Type": "text/plain"
									}
								})
								.then((response) => {
									this.usuario.idPais = response.data.idPais;
									axios.get(path + 'AuxPais/' + response.data.idPais+'/provincias', {
										headers: {
											"Content-Type": "text/plain"
										}
									})
									.then((response) => {
										this.provincias = response.data;
									}, (error) => {
										toastr.error('Ha ocurrido un error inesperado');
									})
								}, (error) => {
									toastr.error('Ha ocurrido un error inesperado');
								})
							}, (error) => {
								toastr.error('Ha ocurrido un error inesperado');
							});
						}, (error) => {
							toastr.error('Ha ocurrido un error inesperado');
						});
					}, (error) => {
						toastr.error('Ha ocurrido un error inesperado');
					})
			},
			postUsuario(usuario) {
				axios.post(
					path + 'SysUsuarios',
					JSON.stringify({
						"id": 0,
						"nombre": usuario.nombre,
						"apellido": usuario.apellido,
						"username": usuario.username,
						"password": usuario.password,
						"idLocalidad": usuario.idLocalidad,
						"idRol": usuario.idRol,
						"mail": usuario.mail,
						"telefonos": usuario.telefonos,
						"fechaNacimiento": usuario.fechaNacimiento,
					}), {
						headers: {
							'Content-Type': 'application/json',
						}
					},
				).then(result => {
					this.blanquearInstancia(usuario);
					toastr.success('Usuario agregado exitosamente');
					this.getUsuarios();
				}, error => {
					this.blanquearInstancia(usuario);
					toastr.error('Ha ocurrido un error inesperado');
				});
			},
			updateUsuario(usuario) {
                axios.post(
					path + 'SysUsuarios/update?where[id]='+usuario.id,
					JSON.stringify({
						"nombre": usuario.nombre,
						"apellido": usuario.apellido,
						"username": usuario.username,
						"password": usuario.password,
						"idLocalidad": usuario.idLocalidad,
						"idRol": usuario.idRol,
						"mail": usuario.mail,
						"telefonos": usuario.telefonos,
						"fechaNacimiento": usuario.fechaNacimiento,
					}), 
					{
						headers: {
							'Content-Type': 'application/json',
						}
					},
					).then(result => {
					this.blanquearInstancia(usuario);
					toastr.success('Usuario agregado exitosamente');
					this.getUsuarios();
                }, error => {
                    toastr.error('Ha ocurrido un error inesperado');
                    this.blanquearInstancia(usuario);
                    this.getUsuarios();
                });
            },
			postOrUpdateUsuario(usuario) {
				if (usuario.id == 0) {
					this.postUsuario(usuario);
				} else {
					this.updateUsuario(usuario);
				}
			},
			deleteUsuario(id) {
                axios.delete(
                    path + 'SysUsuarios/'+id,
                    {headers: {"Content-Type": "text/plain"}}
                ).then(result => {
                    toastr.success('Usuario eliminado exitosamente');
					this.getUsuarios();
                }, error => {
                    toastr.error('Ha ocurrido un error inesperado');
					this.getUsuarios();
                });
			},
			newAndDeleteUsuario(usuario){
                this.blanquearInstancia(usuario);
                $("#nombre").focus();
            }
		},
	}
</script>

