<template>
    <div class="container-fluid">
        <h5 class="display-4">Pedidos de Oración</h5>	
        
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="card">
                    <h5 class="card-header"><i class="fas fa-users"></i> Pedidos</h5>
                    <div class="card-body">
                        <table class="table table-bordered" id="app-datatable">
                            <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Descripcion</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in lists">
                                    <td style="width: 10%;">{{ item.fecha }}</td>
                                    <td style="width: 70%;">{{ item.descripcion }}</td>
                                    <td style="width: 10%; text-align: center;">
                                        <button  v-on:click="getPedido(item.id)" type="button" class="btn btn-warning"><i class="fas fa-eye"></i></button> 
                                        <button v-on:click="deletePedido(item.id)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button> 
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>

            <div class="col-12 col-lg-4">
                <div id = "pedidos" class="card">
                    <div class="page-header">
                        <h5 class="card-header">
                        <i class="fas fa-list-ul"></i> Gestionar Pedido
                        </h5>
                        
                    </div>
                    <div class="card-body">
                            <form v-on:submit.prevent="updatePedido" autocomplete="off">
                                <div class="form-group row">
                                    <label for="descripcion" class="col-lg-3 col-form-label form-control-label">Fecha</label>
                                    <div class="col-12 col-sm-8 col-lg-6">
                                        <input v-model="pedido.fecha" id="fecha" type="date" name="bday" max="3000-12-31" min="1000-01-01" placeholder="" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="descripcion" class="col-lg-3 col-form-label form-control-label">Tipo</label>
                                    <div class="col-12 col-sm-8 col-lg-6">
                                        <select v-model="pedido.idTipo" placeholder="Seleccione un Tipo" class="form-control" id="cmbTipo">
											<option v-for="tipo in tipos" :value="tipo.id">{{tipo.descripcion}}</option>
										</select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="descripcion" class="col-lg-3 col-form-label form-control-label">Descripción</label>
                                    <div class="col-12 col-sm-8 col-lg-6">
                                        <textarea class="form-control" rows="5" v-model="pedido.descripcion" id="descripcion" type="text" placeholder=""></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label"></label>
                                    <div class="col-lg-9">
                                        <button type="submit" class="btn btn-primary" v-on:click.prevent="newAndDeletePedido(pedido)">Nuevo</button>
                                        <button type="submit" class="btn btn-success" v-on:click.prevent="postOrUpdatePedido(pedido)">Aceptar</button>
                                        <button type="submit" class="btn btn-warning" v-on:click.prevent="blanquearInstancia(pedido)">Cancelar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
        </div>

    </div>
</template>
<script>
    var path = 'http://localhost:3000/api/';
    
    import axios from "axios"
    import moment from 'moment'

    export default {
        name: 'pedidos',
        data () {
            return {
                lists:[],
                tipos:[],
                pedido:{
                    id:'',
                    fecha: '',
                    descripcion:'',
                    idTipo:''
                },
            }
        },
        mounted() {
            this.getPedidos();
            this.getTipos();
        },
        methods: {
            blanquearInstancia(pedido){
                pedido.id = 0;
                pedido.fecha = "",
                pedido.descripcion = "",
                pedido.idTipo = ""
            },
            getTipos(){
				axios.get(path + 'EntTipoPedidos/',{headers: {"Content-Type": "text/plain"}}).then(result => {
                    this.tipos = result.data;
                }, error => {
                    console.error(error);
                });
			},
            getPedidos(){
				axios.get(path + 'EntPedidos/',{headers: {"Content-Type": "text/plain"}}).then(result => {
                    this.lists = result.data.map(item => {
                        return {
                            id: item.id,
                            fecha: moment.utc(item.fecha).format('DD/MM/YYYY'),
                            descripcion : item.descripcion,
                        }
                    })
                }, error => {
                    console.error(error);
                });
            },
            updatePedido(pedido) {
                axios.post(
                    path + 'EntPedidos/update?where[id]='+pedido.id,
                    JSON.stringify({
                            "fecha": moment(pedido.fecha).format("YYYY-MM-DD hh:mm:ss"),
                            "descripcion": pedido.descripcion,
                            "idTipo": pedido.idTipo
                        }),
                    {
                        headers: {'Content-Type': 'application/json',}
                    }
                ).then(result => {
                    toastr.success('Pedido actualizado exitosamente');
                    this.blanquearInstancia(pedido);
                    this.getPedidos();
                }, error => {
                    toastr.error('Ha ocurrido un error inesperado');
                    this.blanquearInstancia(pedido);
                    this.getPedidos();
                });
            },
            deletePedido(idPedido) {
                axios.delete(
                    path + 'EntPedidos/'+idPedido,
                    {headers: {"Content-Type": "text/plain"}}
                ).then(result => {
                    toastr.success('Pedido eliminado exitosamente');
                    this.getPedidos();
                }, error => {
                    toastr.error('Ha ocurrido un error inesperado');
                    this.getPedidos();
                });
            },
            getPedido(idPedido) {
                axios.get(path + 'EntPedidos/'+idPedido,{headers: {"Content-Type": "text/plain"}})
                .then((response)  =>  {
                    this.pedido = response.data;
                    this.pedido.fecha = moment.utc(this.pedido.fecha).format('YYYY-MM-DD');
                    console.log(this.pedido);
                    $("#descripcion").focus();
                }, (error)  =>  {
                    toastr.error('Ha ocurrido un error inesperado');
                })
            },
            postPedido(pedido){
                axios.post(
                    path + 'EntPedidos', 
                    JSON.stringify({
                        "id": 0,
                        "fecha": pedido.fecha,
                        "descripcion": pedido.descripcion,
                        "idTipo": pedido.idTipo,
                        }),
                    {headers: {'Content-Type': 'application/json',}},
                    ).then(result => {                        
                        toastr.success('Pedido agregado exitosamente');
                        this.blanquearInstancia(pedido);
                        this.getPedidos();   
                }, error => {
                    toastr.error('Ha ocurrido un error inesperado');
                    this.blanquearInstancia(pedido);
                    this.getPedidos();
                });
            },
            postOrUpdatePedido(pedido){
                console.log();
                if (pedido.id == 0) {
                    this.postPedido(pedido);
                }else{
                    this.updatePedido(pedido);
                }
            },
            newAndDeletePedido(pedido){
                this.blanquearInstancia(pedido);
                $("#descripcion").focus();
                this.pedido.fecha = moment.utc().format('YYYY-MM-DD');
            }
        }
    }

</script>
