<template>



    <div class="container-fluid">
        <h5 class="display-4">Tipos de Pedidos</h5>	

        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="card">
                    <h5 class="card-header"><i class="fas fa-users"></i> Tipos de Pedidos</h5>
                    <div class="card-body">
                        <table class="table table-bordered" id="app-datatable">
                            <thead>
                                <tr>
                                    <th>Descripción</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in lists">
                                    <td>{{ item.descripcion }}</td>
                                    <td>
                                        <button  v-on:click="getPedido(item.id)" type="button" class="btn btn-warning"><i class="fas fa-eye"></i> Editar </button> 
                                        <button v-on:click="deletePedido(item.id)" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Eliminar</button> 
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-5">
                <div id = "pedidos" class="card">
                    <div class="page-header">
                        <h5 class="card-header"><i class="fas fa-list-ul">
                            </i> Gestionar Tipo
                            <small id="subtitle"> {{tipoPedido.descripcion}}</small>
                        </h5>
                    </div>
                    
                    <div class="card-body">
                            <form v-on:submit.prevent="updatePedido">
                                <div class="form-group row">
                                <label for="motivo" class="col-12 col-sm-4 col-form-label text-sm-left">Descripción</label>
                                <div class="col-12 col-sm-8 col-lg-6">
                                    <input v-model="tipoPedido.descripcion" id="descripcion" type="text" placeholder="" class="form-control">
                                </div>
                                </div>
                                <div > 
                                    <button type="submit" class="btn btn-primary" v-on:click.prevent="newAndDeletePedido(tipoPedido)">Nuevo</button>
                                    <button type="submit" class="btn btn-success" v-on:click.prevent="postOrUpdatePedido(tipoPedido)">Aceptar</button>
                                    <button type="submit" class="btn btn-warning" v-on:click.prevent="blanquearInstancia(tipoPedido)">Cancelar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
        </div>

    </div>
</template>
<script>
    var path = 'http://localhost:3000/api/';
    
    import axios from "axios";

    export default {
        name: 'pedidos',
        data () {
            return {
                lists:[],
                tipoPedido:{
                    id:'',
                    descripcion:'',
                },
            }
        },
        mounted() {
            this.getPedidos();
        },
        methods: {
            blanquearInstancia(tipoPedido){
                tipoPedido.id = 0;
                tipoPedido.descripcion = "";
            },
            getPedidos(){
				axios.get(path + 'EntTipoPedidos/',{headers: {"Content-Type": "text/plain"}}).then(result => {
                    this.lists = result.data;
                }, error => {
                    console.error(error);
                });
            },
            updatePedido(tipoPedido) {
                axios.post(
                    path + 'EntTipoPedidos/update?where[id]='+tipoPedido.id,
                    JSON.stringify({"descripcion": tipoPedido.descripcion}),
                    {
                        headers: {'Content-Type': 'application/json',}
                    }
                ).then(result => {
                    toastr.success('Pedido actualizado exitosamente');
                    this.blanquearInstancia(tipoPedido);
                    this.getPedidos();
                }, error => {
                    toastr.error('Ha ocurrido un error inesperado');
                    this.blanquearInstancia(tipoPedido);
                    this.getPedidos();
                });
            },
            deletePedido(idPedido) {
                axios.delete(
                    path + 'EntTipoPedidos/'+idPedido,
                    {headers: {"Content-Type": "text/plain"}}
                ).then(result => {
                    toastr.success('Pedido eliminado exitosamente');
                    this.getPedidos();
                }, error => {
                    toastr.error('Ha ocurrido un error inesperado');
                    this.getPedidos();
                });
            },
            getPedido(idPedido) {
                axios.get(path + 'EntTipoPedidos/'+idPedido,{headers: {"Content-Type": "text/plain"}})
                .then((response)  =>  {
                    this.tipoPedido = response.data;
                    $("#descripcion").focus();
                }, (error)  =>  {
                    toastr.error('Ha ocurrido un error inesperado');
                })
            },
            postPedido(tipoPedido){
                axios.post(
                    path + 'EntTipoPedidos', 
                    JSON.stringify({
                        "id": 0,
                        "descripcion": tipoPedido.descripcion
                        }),
                    {headers: {'Content-Type': 'application/json',}},
                    ).then(result => {                        
                        toastr.success('Pedido agregado exitosamente');
                        this.blanquearInstancia(tipoPedido);
                        this.getPedidos();   
                }, error => {
                    toastr.error('Ha ocurrido un error inesperado');
                    this.blanquearInstancia(tipoPedido);
                    this.getPedidos();
                });
            },
            postOrUpdatePedido(tipoPedido){
                console.log()
                if (tipoPedido.id == 0) {
                    this.postPedido(tipoPedido);
                }else{
                    this.updatePedido(tipoPedido);
                }
            },
            newAndDeletePedido(tipoPedido){
                this.blanquearInstancia(tipoPedido);
                $("#descripcion").focus();
            }

        },
        
    }

</script>
