<template>
  <b-container fluid>
    <!-- User Interface controls -->
    <b-row>
		<b-col md="3" class="my-2">
			<b-form-group horizontal :label-cols="2" label="Buscar" class="mb-0">
				<b-input-group>
					<b-form-input v-model="filter" placeholder="" />
					<b-input-group-append>
					<b-btn :disabled="!filter" @click="filter = ''">Limpiar</b-btn>
					</b-input-group-append>
				</b-input-group>
			</b-form-group>
		</b-col>
		<b-col md="7" class="my-2">	</b-col>
		<b-col md="2" class="my-2" align>
			<b-btn class='float-sm-right' variant="outline-success" v-b-modal.modalInfo @click.stop="newAndDeleteUsuario(usuario)">Nuevo Usuario</b-btn>
		</b-col>
    </b-row>

    <b-table show-empty
             stacked="md"
             :items="listaUsuarios"
             :fields="fields"
             :current-page="currentPage"
             :per-page="perPage"
             :filter="filter"
             :sort-by.sync="sortBy"
             :sort-desc.sync="sortDesc"
             :sort-direction="sortDirection"
             @filtered="onFiltered">
      <template slot="name" slot-scope="row">{{row.value.first}} {{row.value.last}}</template>
      <template slot="isActive" slot-scope="row">{{row.value?'Yes :)':'No :('}}</template>
      <template slot="actions" slot-scope="row">
        <!-- We use @click.stop here to prevent a 'row-clicked' event from also happening -->
        <b-button size="sm" v-b-modal.modalInfo @click.stop="getUsuario(row.item.id)" class="btn btn-warning">
          <i class="fas fa-eye"></i> Editar
        </b-button>
        <b-button size="sm" v-b-modal.modalDelete @click.stop="info(row.item)" class="btn btn-danger">
          <i class="fas fa-trash-alt"></i> Eliminar
        </b-button>
      </template>

    </b-table>

    <b-row>
      <b-col md="6" class="my-1">
        <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
      </b-col>
    </b-row>

    <!-- Info modal -->
<b-modal size="lg" id="modalInfo" ref="modal" ok-title="Guardar" cancel-title="Cancelar" title="Gestionar Usuario" @ok="postOrUpdateUsuario(usuario)">
    <form v-on:submit.prevent="postOrUpdateUsuario">
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationDefault01">Nombre</label>
                <input v-model="usuario.nombre" type="text" class="form-control" id="nombre" placeholder="Nombre" value="" required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationDefault02">Apellido</label>
                <input v-model="usuario.apellido" type="text" class="form-control" id="apellido" placeholder="Apellido" value="" required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="fechaNacimiento">Fecha de Nacimiento</label>
                <input v-model="usuario.fechaNacimiento" id="fecha" type="date" name="bday" max="3000-12-31" min="1000-01-01" placeholder="" class="form-control">
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationDefault02">Username</label>
                <input v-model="usuario.username" type="text" class="form-control" id="username" placeholder="Usuario" value="" required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationDefaultUsername">Password</label>
                <div class="input-group">
                    <input type="password" v-model="usuario.password" class="form-control" id="password" placeholder="Contraseña" aria-describedby="inputGroupPrepend2" required>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="cmbRol">Rol</label>
                <select v-model="usuario.idRol" class="form-control" id="cmbRol" placeholder="Seleccione Rol">
                        <option v-for="rol in roles" :value="rol.id">{{rol.descripcion}}</option>
                    </select>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="cmbPais">País</label>
                <select v-model="usuario.idPais" placeholder="Seleccione País" class="form-control" id="cmbPais" @change="getProvinciaByIdPais(usuario.idPais)">
                        <option v-for="pais in paises" :value="pais.id">{{pais.descripcion}}</option>
                    </select>
            </div>
            <div class="col-md-4 mb-3">
                <label for="cmbProvincia">Provincia</label>
                <select v-model="usuario.idProvincia" placeholder="Seleccione Provincia" class="form-control" id="cmbProvincia" @change="getLocalidadByIdProvincia(usuario.idProvincia)">
                        <option v-for="provincia in provincias" :value="provincia.id">{{provincia.descripcion}}</option>
                    </select>
            </div>
            <div class="col-md-4 mb-3">
                <label for="cmbLocalidad">Localidad</label>
                <select v-model="usuario.idLocalidad" placeholder="Seleccione Localidad" class="form-control" id="cmbLocalidad">
                        <option v-for="localidad in localidades" :value="localidad.id">{{localidad.descripcion}}</option>
                    </select>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationDefault03">E-Mail</label>
                <input v-model="usuario.mail" type="text" class="form-control" id="mail" placeholder="Correo Electrónico" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationDefault04">Teléfonos</label>
                <input v-model="usuario.telefonos" type="text" class="form-control" id="telefonos" placeholder="Teléfonos" required>
            </div>
        </div>
        <div>
        </div>
    </form>
</b-modal>

    <b-modal id="modalDelete" @hide="resetModal" :title="modalInfo.title" ok-title="Guardar" cancel-title="Cancelar" @ok="deleteUsuario(modalInfo.id)">
      ¿Estás seguro de eliminar al usuario {{ modalInfo.content }}?
    </b-modal>

  </b-container>
</template>

<script>

var path = 'http://localhost:3000/api/';

import axios from "axios";
import moment from "moment"

export default {
  data () {
    return {
            listaUsuarios: [],
            usuario: {
                id: '',
                nombre: '',
                apellido: '',
                username: '',
                password: '',
                idLocalidad: '',
                idPais: '',
                idProvincia: '',
                idRol: '',
                mail: '',
                telefonos: '',
                fechaNacimiento: '',
            },
            roles: [],
            paises: [],
            provincias: [],
            localidades: [],
            fields: [
                { key: 'nombre', label: 'Nombre', sortable: true, sortDirection: 'desc' },
                { key: 'apellido', label: 'Apellido ', sortable: true, 'class': 'text-left' },
                { key: 'mail', label: 'E-Mail', sortable: true, sortDirection: 'desc' },
                { key: 'telefonos', label: 'Teléfonos', sortable: true, sortDirection: 'desc' },
                { key: 'actions', label: '' }
            ],
            currentPage: 1,
            perPage: 5,
            totalRows: '',
            pageOptions: [ 5, 10, 15 ],
            sortBy: null,
            sortDesc: false,
            sortDirection: 'asc',
            filter: null,
            modalInfo: { title: '', content: '', id: '' }
        }
    },
    mounted() {
        this.getUsuarios();
        this.getRoles();
        this.getPaises();
    },
    computed: {
        sortOptions () {
        // Create an options list from our fields
        return this.fields
            .filter(f => f.sortable)
            .map(f => { return { text: f.label, value: f.key } })
        }
    },
    methods: {
        info (item) {
            this.modalInfo.title = 'Confirmación'
            this.modalInfo.content = item.nombre + ' ' +item.apellido
            this.modalInfo.id = item.id
         },
        resetModal () {
            this.modalInfo.title = ''
            this.modalInfo.content = ''
            this.modalInfo.id = ''
        },
        onFiltered (filteredItems) {
            this.totalRows = filteredItems.length
            this.currentPage = 1
		},
		blanquearInstancia(usuario) {
				usuario.id = 0,
				usuario.nombre = "",
				usuario.apellido = "",
				usuario.username = "",
				usuario.password = "",
				usuario.idRol = "",
				usuario.mail = "",
				usuario.telefonos = "",
				usuario.fechaNacimiento = "",
				usuario.idPais = "",
				usuario.idProvincia = "",
				usuario.idLocalidad = ""
		},
		getLocalidadByIdProvincia(id) {
			this.localidades = [];
			this.usuario.idLocalidad = "";
			axios.get(path + 'AuxLocalidads?filter[where][idProvincia]=' + id + '/', {
				headers: {
					"Content-Type": "text/plain"
				}
			}).then(result => {
				this.localidades = result.data;
			}, error => {
				toastr.error('Ha ocurrido un error inesperado');
			});
		},
		getProvinciaByIdPais(id) {
			this.localidades = [];
			this.usuario.idProvincia = "";
			this.usuario.idLocalidad = "";
			axios.get(path + 'AuxProvincia?filter[where][idPais]=' + id + '/', {
				headers: {
					"Content-Type": "text/plain"
				}
			}).then(result => {
				this.provincias = result.data;
			}, error => {
				toastr.error('Ha ocurrido un error inesperado');
			});
		},
		getPaises() {
			axios.get(path + 'AuxPais/', {
				headers: {
					"Content-Type": "text/plain"
				}
			}).then(result => {
				this.paises = result.data;
			}, error => {
				toastr.error('Ha ocurrido un error inesperado');
			});
		},
		getRoles() {
			axios.get(path + 'SysRols/', {
				headers: {
					"Content-Type": "text/plain"
				}
			}).then(result => {
				this.roles = result.data;
			}, error => {
				toastr.error('Ha ocurrido un error inesperado');
			});
		},
		getUsuarios() {
			axios.get(path + 'SysUsuarios/', {
				headers: {
					"Content-Type": "text/plain"
				}
			}).then(result => {
				this.listaUsuarios = result.data;
			}, error => {
				toastr.error('Ha ocurrido un error inesperado');
			});
		},
		getProvinciaByLocalidad(id, usuario) {
			axios.get(path + 'AuxLocalidads/' + id, {
					headers: {
						"Content-Type": "text/plain"
					}
				})
				.then((response) => {
					usuario.idProvincia = response.data.idProvincia;
					this.getPaisByProvincia(usuario.idProvincia, usuario);
				}, (error) => {
					toastr.error('Ha ocurrido un error inesperado');
				});
		},
		getPaisByProvincia(id, usuario) {
			this.localidades = [];
			axios.get(path + 'AuxProvincia/' + id, {
					headers: {
						"Content-Type": "text/plain"
					}
				})
				.then((response) => {
					usuario.idPais = response.data.idPais;
				}, (error) => {
					toastr.error('Ha ocurrido un error inesperado');
				})
		},
		getUsuario(id) {
			this.blanquearInstancia(this.usuario);
			axios.get(path + 'SysUsuarios/' + id, {
					headers: {
						"Content-Type": "text/plain"
					}
				})
				.then((response) => {
					this.usuario = response.data;
					this.usuario.fechaNacimiento = moment(response.data.fechaNacimiento).format("YYYY-MM-DD")
					
					//Obtengo el idLocalidad
					this.usuario.idLocalidad = response.data.idLocalidad
					//Obtengo el idProvincia por la localidad
					axios.get(path + 'AuxLocalidads/' + response.data.idLocalidad, {
						headers: {
							"Content-Type": "text/plain"
						}
					})
					.then((response) => {
						this.usuario.idProvincia = response.data.idProvincia;
						axios.get(path + 'AuxProvincia/' + response.data.idProvincia+'/localidades', {
							headers: {
								"Content-Type": "text/plain"
							}
						})
						.then((response) => {
							this.localidades = response.data;
							//Obtengo el idPais 
							axios.get(path + 'AuxProvincia/' + id, {
								headers: {
									"Content-Type": "text/plain"
								}
							})
							.then((response) => {
								this.usuario.idPais = response.data.idPais;
								axios.get(path + 'AuxPais/' + response.data.idPais+'/provincias', {
									headers: {
										"Content-Type": "text/plain"
									}
								})
								.then((response) => {
									this.provincias = response.data;
								}, (error) => {
									toastr.error('Ha ocurrido un error inesperado');
								})
							}, (error) => {
								toastr.error('Ha ocurrido un error inesperado');
							})
						}, (error) => {
							toastr.error('Ha ocurrido un error inesperado');
						});
					}, (error) => {
						toastr.error('Ha ocurrido un error inesperado');
					});
				}, (error) => {
					toastr.error('Ha ocurrido un error inesperado');
				})
		},
		postUsuario(usuario) {
			axios.post(
				path + 'SysUsuarios',
				JSON.stringify({
					"id": 0,
					"nombre": usuario.nombre,
					"apellido": usuario.apellido,
					"username": usuario.username,
					"password": usuario.password,
					"idLocalidad": usuario.idLocalidad,
					"idRol": usuario.idRol,
					"mail": usuario.mail,
					"telefonos": usuario.telefonos,
					"fechaNacimiento": usuario.fechaNacimiento,
				}), {
					headers: {
						'Content-Type': 'application/json',
					}
				},
			).then(result => {
				this.blanquearInstancia(usuario);
				toastr.success('Usuario agregado exitosamente');
				this.getUsuarios();
			}, error => {
				this.blanquearInstancia(usuario);
				toastr.error('Ha ocurrido un error inesperado');
			});
		},
		updateUsuario(usuario) {
			axios.post(
				path + 'SysUsuarios/update?where[id]='+usuario.id,
				JSON.stringify({
					"nombre": usuario.nombre,
					"apellido": usuario.apellido,
					"username": usuario.username,
					"password": usuario.password,
					"idLocalidad": usuario.idLocalidad,
					"idRol": usuario.idRol,
					"mail": usuario.mail,
					"telefonos": usuario.telefonos,
					"fechaNacimiento": usuario.fechaNacimiento,
				}), 
				{
					headers: {
						'Content-Type': 'application/json',
					}
				},
				).then(result => {
				this.blanquearInstancia(usuario);
				toastr.success('Usuario agregado exitosamente');
				this.getUsuarios();
			}, error => {
				toastr.error('Ha ocurrido un error inesperado');
				this.blanquearInstancia(usuario);
				this.getUsuarios();
			});
		},
		postOrUpdateUsuario(usuario) {
			if (usuario.id == 0) {
				this.postUsuario(usuario);
			} else {
				this.updateUsuario(usuario);
			}
		},
		deleteUsuario(id) {
			axios.delete(
				path + 'SysUsuarios/'+id,
				{headers: {"Content-Type": "text/plain"}}
			).then(result => {
				toastr.success('Usuario eliminado exitosamente');
				this.getUsuarios();
			}, error => {
				toastr.error('Ha ocurrido un error inesperado');
				this.getUsuarios();
			});
		},
		newAndDeleteUsuario(usuario){
			this.blanquearInstancia(usuario);
			$("#nombre").focus();
		}
  },
}
</script>
